.container{
    background-color: black;
    /* width: 60vw; */
    height: 100vh;
    border: 2px solid rgb(212, 213, 223);
    /* box-shadow: inset 0 0 0cm rgb(194, 21, 21); */
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(43, 39, 39);
  font-family: Arial, Helvetica, sans-serif;
           
    overflow: hidden;}


.nav-bar{
    height: 10vh;
    border-radius: 10px;
    /* width: 400vw; */
}
.navbar{
    display: flex;
    justify-content: space-between;
    background-color: rgb(24, 21, 21);
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    width: 170vh;
    height: 5vh;

}
.navbar{
    display: flex;
    justify-content: space-evenly
background-color: black;
    align-items: center;
    border-radius: 10px;  

}
.logo{
padding: 12px;
font-family: Georgia, 'Times New Roman', Times, serif;
}
.logo span{
    color: rgb(236, 236, 243);
    font-size: 24px;
    font-weight: 800;
font-family: 'Times New Roman', Times, serif;
}
.navbar ul{
    display: flex;
    list-style: none;
    margin: 20px;justify-content: space-evenly;
    gap: 24px;
padding-right: 40px;
}
.navbar ul li{
padding: 12px;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 800;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.hero{
    display: flex;
    align-items: center;
    gap: 500px;
    padding: 40px;
    justify-content: ;
    align-items: center;
    margin-left: 200px;
}

.image{
    width: 80%;
}
.image img{                             
    width: 320px;
height: 320px;
border-radius: 50%;
object-fit: fill;}
.herop{
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    color: white;
    align-items: center;
}
/* .herop p{
   width: 90%;
} */
.herop button{
    width: 170px;
margin-right: 400px;
    background-color: rgb(29, 212, 23);
    color: white;
    font-size: 20px;
  text-align: center;
  margin-bottom: 100px;
  /* border-radius: 10px; */
}
P{
    margin-left: 05px;
}
.brands{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    margin-top: 20px;
    color: white;
 margin-left:300px;
 /* border-radius: 10px; */

}
#btn2{
    width: 200px;
margin-left: 220px;
    background-color: rgb(27, 27, 27);
    color: white;
    font-size: 20px;
  text-align: center;
  /* margin-bottom: 200px; */
  border-radius: 10px;
  /* margin-left: 80px; */
}
#btn1{
    margin-left: -1590px;
    
}

